body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  font-family: Manrope;
}

.is-correct-blue {
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff");
}
